/* General Styles */
body, html {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    color: #00bcd4;
}

h1 {
    font-size: 2.5em;
}

p {
    color: #d3d3d3;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0097a7;
}

/* Tic-Tac-Toe Grid */
#grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #grid {
        grid-template-columns: repeat(3, 80px);
        grid-gap: 5px;
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 1.5em;
    }

    button {
        padding: 8px 16px;
    }
}

footer {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
    font-size: 0.8em;
    position: relative;
    bottom: 0;
    width: 100%;
}
