/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 80px; /* Space for fixed header */
}

/* Header Styles */
header {
    background-color: #fff;
    padding: 10px 20px; /* Reduced padding for a more compact look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex; /* Using flex to better align items */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: center; /* Aligns items vertically */
}

header h1 {
    margin: 0; /* Removes default margin */
    font-size: 1.5rem; /* Adjust font size if necessary */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    margin: 0; /* Removes default margin */
}

nav ul li {
    margin-left: 20px; /* Adjust based on preference */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px; /* Optional: adds padding to links for better touch */
    border-radius: 5px; /* Optional: rounds corners of link on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #f0f0f0; /* Adds a subtle hover effect */
}


/* Main Content and Sections */
.section, #resume-section {
    background-color: #ffffff;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    font-size: 2.5rem;
    color: #0056b3;
}

h2, h3, h4 {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 10px;
    background-color: #222;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Forms and Buttons */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #004494;
}
